과제1

In [1]:
def check_prime(num):
    count = 0
    for n in range(2,num+1):
        if num % n == 0:
            count += 1
        
    if count == 1:
        return True
    else:
        return False

def main():
    a = 13
    b = 15
    
    if check_prime(a):
        print(str(a)+'(은)는 소수입니다.')
    else:
        print(str(a)+'(은)는 소수가 아닙니다.')
    
    if check_prime(b):
        print(str(b)+'(은)는 소수입니다.')
    else:
        print(str(b)+'(은)는 소수가 아닙니다.')

In [11]:
check_prime(1)

False

과제2

In [12]:
def add_comma(val):
    str_val = str(val)

    no_comma = len(str_val) // 3
    temp_lst = []    

    if no_comma == 0:
        return str_val
    
    else:
        while no_comma != 0:
            temp_lst.append(str_val[-3:])
            str_val = str_val[:-3]

            if len(str_val) <= 2:
                temp_lst.append(str_val)

            no_comma -= 1

    return ','.join(reversed(temp_lst))
        
def main():
    comma_added_1234 = add_comma(1234)
    comma_added_12345678 = add_comma(12345678)
    comma_added_12 = add_comma(12)
    print(comma_added_1234) # '1,234'
    print(comma_added_12345678) # '12,345,678'
    print(comma_added_12) # '12'

In [13]:
main()

1,234
12,345,678
12

과제3

In [5]:
def tokenize(trg, N=1):
    trg = trg.split()
    temp_lst = []
    
    for s_idx in range(len(trg) - (N-1)):
        temp_lst.append(trg[s_idx:s_idx+N])

    result_lst = []
    
    for i in temp_lst:
        result_lst.append(' '.join(i))

    return result_lst

def main():
    a = 'There was a farmer who had a dog .'
    print(tokenize(a))
    print(tokenize(a, 2))

In [6]:
main()

['There', 'was', 'a', 'farmer', 'who', 'had', 'a', 'dog', '.']
['There was', 'was a', 'a farmer', 'farmer who', 'who had', 'had a', 'a dog', 'dog .']

과제4

In [7]:
def mean_and_var(*val):
    first = []
    second = []
    for v in val:
        first.append(v[0])
        second.append(v[1])

    m1, m2 = sum(first)/len(first), sum(second)/len(second)
    
    temp1 = [x-y for x, y in zip(first, [m1]*len(val))]
    var1 = sum([x**2 for x in temp1]) / len(temp1)
    temp2 = [x-y for x, y in zip(second, [m2]*len(val))]
    var2 = sum([x**2 for x in temp2]) / len(temp2)
    
    mean_lst = [m1,m2]
    var_lst = [var1,var2]
    
    return mean_lst, var_lst

def main():
    v1 = (0, 1)
    v2 = (0.5, 0.5)
    v3 = (1, 0)
    m, var = mean_and_var(v1, v2, v3)
    print('평균: ', m)
    print('분산: ', var)

In [8]:
main()

평균:  [0.5, 0.5]
분산:  [0.16666666666666666, 0.16666666666666666]