In [2]:
path = 'C:\\Users\\moon\\Downloads\\3. Big Data 분석\\'

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv(path + 'titanic.csv')

# Step1) 데이터 속성 및 기술 통계량 확인

In [26]:
data.describe()

,Survived,PassengerId,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,446.000000,2.308642,29.758889,0.523008,0.381594,32.204208
std,0.486592,257.353842,0.836071,13.002570,1.102743,0.806057,49.693429
min,0.000000,1.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,223.500000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,0.000000,446.000000,3.000000,30.000000,0.000000,0.000000,14.454200
75%,1.000000,668.500000,3.000000,35.000000,1.000000,0.000000,31.000000
max,1.000000,891.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Survived     891 non-null    int64
 1   PassengerId  891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [30]:
data.isnull().sum()

Survived         0
PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [29]:
data = data[['Survived','PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']]
train = data.iloc[:,0]
test = data.iloc[:,1:]

# 목표변수 및 설명변수의 분포 확인

In [32]:
# 먼저 수치형(연속형) 자료들에 대한 분포를 확인한다.
# SIbSp
g = sns.catplot(x = 'SibSp', y= 'Survived', data = train, kind = 'bar', height = 4, pallette = 'muted')

ValueError: Could not interpret input 'SibSp'