## 통계 1일차 과제
### 1번 과제 - 28페이지

다음 데이터는 자동차의 모델과 연비(mpg)에 대한 자료를 조사한 Table입니다. 이 범주형 데이터에 대해 counts, percents, cumulative counts, cumulative percents를 계산 바랍니다.(data.set : mycars.csv)

In [45]:
import pandas as pd
import numpy as np
from scipy import stats

df_cars = pd.read_csv('/home/piai/Downloads/data_stats/mycars.csv')

In [46]:
df_cars.head()

,manufacturer,model,displacement,year,cylinder,automatic,driving,mpg,highway_mileage,fuel,class
0,audi,a4,1.8,1999,4,auto,f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual,f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual,f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto,f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto,f,16,26,p,compact

In [47]:
# counts
count = df_cars['model'].value_counts()
print(count)

caravan 2wd               11
ram 1500 pickup 4wd       10
civic                      9
dakota pickup 4wd          9
mustang                    9
jetta                      9
grand cherokee 4wd         8
a4 quattro                 8
impreza awd                8
passat                     7
f150 pickup 4wd            7
camry                      7
sonata                     7
toyota tacoma 4wd          7
durango 4wd                7
camry solara               7
a4                         7
tiburon                    7
altima                     6
explorer 4wd               6
new beetle                 6
4runner 4wd                6
forester awd               6
grand prix                 5
corolla                    5
malibu                     5
corvette                   5
c1500 suburban 2wd         5
gti                        5
k1500 tahoe 4wd            4
mountaineer 4wd            4
pathfinder 4wd             4
range rover                4
a6 quattro                 3
expedition 2wd             3
navigator 2wd              3
maxima                     3
land cruiser wagon 4wd     2
Name: model, dtype: int64

In [48]:
# cumulative counts
cumcnt = np.cumsum(count)
print(cumcnt)

caravan 2wd                11
ram 1500 pickup 4wd        21
civic                      30
dakota pickup 4wd          39
mustang                    48
jetta                      57
grand cherokee 4wd         65
a4 quattro                 73
impreza awd                81
passat                     88
f150 pickup 4wd            95
camry                     102
sonata                    109
toyota tacoma 4wd         116
durango 4wd               123
camry solara              130
a4                        137
tiburon                   144
altima                    150
explorer 4wd              156
new beetle                162
4runner 4wd               168
forester awd              174
grand prix                179
corolla                   184
malibu                    189
corvette                  194
c1500 suburban 2wd        199
gti                       204
k1500 tahoe 4wd           208
mountaineer 4wd           212
pathfinder 4wd            216
range rover               220
a6 quattro                223
expedition 2wd            226
navigator 2wd             229
maxima                    232
land cruiser wagon 4wd    234
Name: model, dtype: int64

In [50]:
# percents
percent = count/sum(count) *100
print(percent)

caravan 2wd               4.700855
ram 1500 pickup 4wd       4.273504
civic                     3.846154
dakota pickup 4wd         3.846154
mustang                   3.846154
jetta                     3.846154
grand cherokee 4wd        3.418803
a4 quattro                3.418803
impreza awd               3.418803
passat                    2.991453
f150 pickup 4wd           2.991453
camry                     2.991453
sonata                    2.991453
toyota tacoma 4wd         2.991453
durango 4wd               2.991453
camry solara              2.991453
a4                        2.991453
tiburon                   2.991453
altima                    2.564103
explorer 4wd              2.564103
new beetle                2.564103
4runner 4wd               2.564103
forester awd              2.564103
grand prix                2.136752
corolla                   2.136752
malibu                    2.136752
corvette                  2.136752
c1500 suburban 2wd        2.136752
gti                       2.136752
k1500 tahoe 4wd           1.709402
mountaineer 4wd           1.709402
pathfinder 4wd            1.709402
range rover               1.709402
a6 quattro                1.282051
expedition 2wd            1.282051
navigator 2wd             1.282051
maxima                    1.282051
land cruiser wagon 4wd    0.854701
Name: model, dtype: float64

In [51]:
# cumulative percents
cumpct = np.cumsum(percent)
cumpct

caravan 2wd                 4.700855
ram 1500 pickup 4wd         8.974359
civic                      12.820513
dakota pickup 4wd          16.666667
mustang                    20.512821
jetta                      24.358974
grand cherokee 4wd         27.777778
a4 quattro                 31.196581
impreza awd                34.615385
passat                     37.606838
f150 pickup 4wd            40.598291
camry                      43.589744
sonata                     46.581197
toyota tacoma 4wd          49.572650
durango 4wd                52.564103
camry solara               55.555556
a4                         58.547009
tiburon                    61.538462
altima                     64.102564
explorer 4wd               66.666667
new beetle                 69.230769
4runner 4wd                71.794872
forester awd               74.358974
grand prix                 76.495726
corolla                    78.632479
malibu                     80.769231
corvette                   82.905983
c1500 suburban 2wd         85.042735
gti                        87.179487
k1500 tahoe 4wd            88.888889
mountaineer 4wd            90.598291
pathfinder 4wd             92.307692
range rover                94.017094
a6 quattro                 95.299145
expedition 2wd             96.581197
navigator 2wd              97.863248
maxima                     99.145299
land cruiser wagon 4wd    100.000000
Name: model, dtype: float64

### 2번 과제 - 45페이지

어떤 자동차 1리터당 주행거리가 평균 12km, 표준편차 3km인 정규분포를 이룬다.  
1) 1리터를 가지고 9km 이상 15km 이하를 달릴 확률은 얼마인가요?

In [52]:
mean_ = 12
dev_ = 3

# 1)
# prob1: 누적확률 15이하 값 계산

x1 = 15
prob1 = stats.norm.cdf(x1, mean_, dev_)

# prob2: 누적확률 9이하 값 계산

x2 = 9
prob2 = stats.norm.cdf(x2, mean_, dev_)

print('1리터를 가지고 9km 이상 15km 이하를 달릴 확률은 얼마인가요?\n답은', round(prob1 - prob2,3), '입니다.')

1리터를 가지고 9km 이상 15km 이하를 달릴 확률은 얼마인가요?
답은 0.683 입니다.

2) 1리터를 가지고 15km 이상을 달릴 확률은 얼마인가요?

In [53]:
# prob3: 누적확률 15이상 값 계산

x3 = 15
prob3 = 1 - stats.norm.cdf(x3, mean_, dev_)

print('1리터를 가지고 15km 이상을 달릴 확률은 얼마인가요?\n답은', round(prob3,3),'입니다.')

1리터를 가지고 15km 이상을 달릴 확률은 얼마인가요?
답은 0.159 입니다.