In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from statsmodels.api import Logit
from sklearn.metrics import accuracy_score, confusion_matrix

path = '/home/piai/Downloads/big_data/'

In [8]:
df_raw = pd.read_csv(path+'HMEQ.csv')
df_raw.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1700,30548,40320.0,HomeImp,Other,9.0,0,0.0,101.466002,1.0,8,37.113614
1,1,1800,28502,43034.0,HomeImp,Other,11.0,0,0.0,88.766030,0.0,8,36.884894
2,0,2300,102370,120953.0,HomeImp,Office,2.0,0,0.0,90.992533,0.0,13,31.588503
3,1,2400,34863,47471.0,HomeImp,Mgr,12.0,0,0.0,70.491080,1.0,21,38.263601
4,0,2400,98449,117195.0,HomeImp,Office,4.0,0,0.0,93.811775,0.0,13,29.681827

In [9]:
df_raw.isnull().sum(axis=0)

BAD          0
LOAN         0
MORTDUE      0
VALUE       14
REASON       0
JOB         81
YOJ        205
DEROG        0
DELINQ      30
CLAGE       37
NINQ        56
CLNO         0
DEBTINC      0
dtype: int64

In [10]:
df_raw['JOB'].fillna('Other',inplace=True)
df_raw.fillna(df_raw.mean(), inplace = True)

In [11]:
df_train, df_test = train_test_split(df_raw, test_size = 0.3, random_state = 1234)

print(df_train.shape)
print(df_test.shape)

(2623, 13)
(1125, 13)

In [14]:
for col in df_train.columns:
    print(col, end='+')

BAD+LOAN+MORTDUE+VALUE+REASON+JOB+YOJ+DEROG+DELINQ+CLAGE+NINQ+CLNO+DEBTINC+

In [15]:
log_model = Logit.from_formula('BAD~LOAN+MORTDUE+VALUE+C(REASON)+C(JOB)+YOJ+DEROG+DELINQ+CLAGE+NINQ+CLNO+DEBTINC', df_train)

log_result = log_model.fit()
print(log_result.summary())

Optimization terminated successfully.
         Current function value: 0.237614
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:                    BAD   No. Observations:                 2623
Model:                          Logit   Df Residuals:                     2606
Method:                           MLE   Df Model:                           16
Date:                Thu, 19 Nov 2020   Pseudo R-squ.:                  0.2257
Time:                        10:48:52   Log-Likelihood:                -623.26
converged:                       True   LL-Null:                       -804.91
Covariance Type:            nonrobust   LLR p-value:                 1.743e-67
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               -5.0942      0.560     -9.100      0.000      -6.191      -3.997
C(REASON)[T.HomeImp]    -0.0080      0.176     -0.045      0.964      -0.354       0.338
C(JOB)[T.Office]        -0.8256      0.294     -2.807      0.005      -1.402      -0.249
C(JOB)[T.Other]         -0.3304      0.227     -1.454      0.146      -0.776       0.115
C(JOB)[T.ProfExe]       -0.4247      0.271     -1.566      0.117      -0.956       0.107
C(JOB)[T.Sales]          1.1323      0.476      2.381      0.017       0.200       2.064
C(JOB)[T.Self]          -0.0454      0.432     -0.105      0.916      -0.892       0.801
LOAN                 -1.223e-05   8.08e-06     -1.514      0.130   -2.81e-05     3.6e-06
MORTDUE               -2.14e-06   3.57e-06     -0.599      0.549   -9.15e-06    4.87e-06
VALUE                 3.061e-06   3.04e-06      1.008      0.313   -2.89e-06    9.01e-06
YOJ                     -0.0053      0.012     -0.461      0.645      -0.028       0.017
DEROG                    0.6221      0.103      6.043      0.000       0.420       0.824
DELINQ                   0.7456      0.077      9.648      0.000       0.594       0.897
CLAGE                   -0.0050      0.001     -4.320      0.000      -0.007      -0.003
NINQ                     0.0939      0.044      2.131      0.033       0.008       0.180
CLNO                    -0.0230      0.009     -2.587      0.010      -0.040      -0.006
DEBTINC                  0.1097      0.012      8.829      0.000       0.085       0.134
========================================================================================

In [16]:
# C(JOB)[T.Sales]

import math
math.exp(1.1323) # 직업이 세일즈인 사람은 세일즈가 아닌 사람 대비 3배 연체고객이 될 확률이 높다.
# 위 계수 1.13은 오즈비이다. 1보다 크므로 연체가능성이 크다는 것. 
# 이것을 로그를 떼어내서보니 3.1배가 나왔다. 이것은 오즈비이니, 무엇 대비해서 3배정도 연체가능성이 높다는 의미이다.

3.102784704367528

In [18]:
df_train['JOB'].unique()
# 연체 가능성에 대해서 보니 Mgr이 빠져있다. Mgr 대비 나머지가 오즈비만큼 더 가능성이 높다는 의미이다.
# Mgr은 알파벳 순서대로 하다보니 선택된 것 같다.

array(['Office', 'ProfExe', 'Other', 'Mgr', 'Self', 'Sales'], dtype=object)